/* toast */

.toast-msg {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding-top: 20px;
    padding-bottom: 16px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    min-width: 400px;
    max-width: 450px;
    animation: slideInLeft ease 0.5s, Fadeout linear 1s 3s forwards;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes Fadeout {
    to {
        opacity: 0;
    }
}

.toast-msg + .toast-msg {
    margin-top: 20px;
}

.icon {
    font-size: 24px;
}

.icon, .close {
    padding: 0 16px;
}

.body {
    flex-grow: 1;
    padding-right: 20px;
}

.title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.close {
    font-size: 20px;
    color: rgba(0, 0, 0, .3);
    cursor: pointer;
}

.success {
    border-left-color: #47d864;
}


.success .icon {
    color: #47d864;
}

.info {
    border-left-color: #2f86eb;
}

.info .icon {
    color: #2f86eb;
}

.warning {
    border-left-color: #FEBE29;
}

.warning .icon {
    color: #FEBE29;
}

.warning {
    border-left-color: #FEBE29;
}

.warning .icon {
    color: #FEBE29;
}

.error {
    border-left-color: #F74D23;
}

.error .icon {
    color: #F74D23;
}

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    flex-direction: 1;
}